

header {
background-color: #171717;
color: white;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 12vh;
border-bottom: 2px solid #303030;
}

header img {
    width: 10vw;
    margin-left: 0.8em;
    margin-right: 1em;
}

header h1 {
    font-size: 1.3em;
    padding-left: 1em;
}

header button {
    background-color: #242424;
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 30px;
    border: 2px solid gray;
    font-size: 1.3em;
}

.hiddenBtn {
    visibility: hidden;
}